:root {
    --color-primary: #60CDDC;
    --color-secondary: #F5F5F5;
    --color-black: #252525
}

body {
    background: var(--color-primary);
}

/*  Home    */
.titre {
    height: 50px;
    width: 500px;
    position: absolute;
    margin-left: 424px;
    margin-top: 200px;
    text-align: center;
    font-size: 2em;
}

.homeButton {
    position: absolute;
    width: 226px;
    height: 79px;
    background: var(--color-secondary);
    border-radius: 10px;
    font-size: 20px;
}

.homeBoutton1 {
    margin-left: 333px;
    margin-top: 333px;
}

.homeBoutton1:hover {
    box-shadow: 5px 5px 5px var(--color-black);
}

.homeBoutton2:hover {
    box-shadow: 5px 5px 5px var(--color-black);
}

.homeBoutton2 {
    margin-left: 820px;
    margin-top: 333px;
}

/*  Home    */

/*  Movies    */

.MovieComponent {
    margin: 20px auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 5px;
}

.box {
    width: 330px;
    height: 390px;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    padding-top: 15px;
    padding-left: 15px;
    margin: 40px 20px;
    background-color: #F5F5F5;
}

.boxTitle {
    font-weight: bold;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.boxTitle2 {
    font-size: 15px;
    font-style: bold;
}

.boxCorps {
    font-size: 15px;
}

.boxButton {
    height: 40px;
    width: 40px;
    background-color: #60CDDC;
    left: 100px;
    margin-left: 260px;
    margin-top: 19px;

}

.no-data {
    position: relative;
    margin-top: 200px;
    color: red;
}

/*  Movies    */