:root {
    --color-primary: #60CDDC;
    --color-secondary: #F5F5F5;
    --color-black: #252525
}

body {
    background: var(--color-primary);
}

/*  Home    */
.titre {
    height: 50px;
    width: 500px;
    margin: auto;
    margin-top: 150px;
    text-align: center;
    font-size: 2em;
}

.homeButton {
    position: absolute;
    width: 226px;
    height: 79px;
    background: var(--color-secondary);
    border-radius: 10px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.homeBoutton1 {
    margin-left: 450px;
    padding: 21px 30px;
    margin-top: 210px;
}

.homeBoutton2 {
    margin-left: 850px;
    margin-top: 210px;
    padding: 21px 60px;

}

.homeBoutton1:hover {
    box-shadow: 5px 5px 5px var(--color-black);
}

.homeBoutton2:hover {
    box-shadow: 5px 5px 5px var(--color-black);
}

/*  Home    */

/*  Movies    */

.MovieComponent {
    margin: 20px auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 5px;
}

.box {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    transition: transform 200ms ease-in;
    width: 330px;
    height: 390px;
    background-color: #F5F5F5;
    padding: 10px;
    padding-top: 15px;
    padding-left: 15px;
    margin: 40px 20px;
    border-radius: 10px;
}

.boxTitle {
    font-weight: bold;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.boxCorps {
    font-size: 15px;
}

.divButton {
    display: flex;
    margin-left: 130px;
    margin-top: 30px;
    flex-direction: row;
}

.no-data {
    position: relative;
    margin-top: 200px;
    color: red;
}

/*  Movies    */