:root {
    --color-primary: #fff;
    --color-secondary: #252A36;
    --color-black: #252525
}

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300;400;500;600;700;800;900&display=swap');

body {
    background: var(--color-primary);
    color: #fff;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/*  Home    */
.titre {
    height: 50px;
    width: 500px;
    margin: auto;
    margin-top: 27px;
    text-align: center;
    font-size: 2em;
    color: #252A36
}

.buttonPositionHome {
    margin-left: 590px;
    margin-top: 100px;
    height: 200px;
    width: 200px;
}

/*  Home    */

/*  Card    */

.MovieComponent {
    margin: 20px auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 5px;
}

.box {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    transition: transform 200ms ease-in;
    width: 330px;
    height: 410px;
    background-color: var(--color-secondary);
    padding: 10px;
    padding-top: 15px;
    padding-left: 15px;
    margin: 40px 20px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

.view-update {
    width: 410px;
    height: 500px;
}

.boxTitle {
    font-weight: bold;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.boxCorps {
    font-size: 15px;
}

.divButton {
    display: flex;
    margin-left: 130px;
    margin-top: 30px;
    flex-direction: row;
}

/*  Card    */

.no-data {
    position: relative;
    margin-top: 200px;
    color: red;
    text-align: center;
}